.orders-container, .address-container {
    padding: 15px 0 60px;
}

.no-orders p, .no-addresses p {
    font-family: ScalaSansOT, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-style: normal;
    color: #453f3f;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.account-right-content .btn-container {
    margin-top: 30px;
    max-width: none;
}

.account-right-content .btn-container button {
    background-color: #1a1919;
    border: 1px solid #1a1919;
    color: #fff;
    display: inline-block;
    font-family: ScalaSansOT, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 2px;
    line-height: 1.2;
    min-width: 220px;
    max-width: 280px;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.account-right-content .btn-container button:hover {
    background-color: transparent;
    color: black;
}

.account-right-content .order-block {
    background-color: #fcfaf7;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.order-block-inner {
    display: flex;
    padding: 14px;
    position: relative;
}

.order-block-inner::before {
    background-color: #d6122d;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0; 
    width: 2px;
}

.order-block-inner .order-image {
    text-align: center;
    width: 70px;
}

.order-image img {
    max-width: 100%;
}

.order-block .order-details {
    padding: 0 5px 0 15px;
    width: calc(100% - 114px);
}

.order-block .order-detail-date {
    color: #1a1919;
    font-family: "ClassGarmnd BT", "Times New Roman", serif;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 29px;
    margin-bottom: 5px;
}

.order-block .order-detail-number {
    color: #453f3f;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 14px;
    margin-bottom: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bottom-row span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.order-detail-price, .order-detail-size, .order-detail-status {
    color: #453f3f;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
}

.account-right-content .order-arrow {
    border-left: 1px solid #d8d8d8;
    margin: 5px 0;
    position: relative;
    width: 44px;
}

.order-arrow span {
    color: #1a1919;
    position: absolute;
    right: -7px;
    top: 50%;
    transform: translateY(-50%);
}

.order-dropdown-details {
    padding: 10px;
    transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.order-dropdown-details .product-row {
    align-items: flex-start;
    border-top: 1px solid #d8d8d8;
    display: flex;
    margin: 0 0 20px 20px;
    padding-top: 30px;
    width: calc(100% - 40px);
}

.order-dropdown-details .product-row:first-child {
    border-top: 0;
    margin-top: 35px;
    padding-top: 0;
}

.product-row .product-image {
    text-align: center;
    width: 60px;
}

.product-row .product-image img {
    max-width: 100%;
}

.product-row .order-details-right {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    width: calc(100% - 60px);
}

.order-details-right .product-title {
    color: #865;
    font-size: 11px;
    letter-spacing: 1.65px;
    line-height: 24px;
    width: 100%;
}

.order-details-right .product-name {
    font-family: "ClassGarmnd BT", "Times New Roman", serif;
    font-size: 16px;
    letter-spacing: 2.6px;
    line-height: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
    width: 100%;
}

.order-details-right .product-variation {
    color: #453f3f;
    display: none;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 5px;
    width: 100%;
}

.order-details-right .product-amount {
    font-size: 15px;
    line-height: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.order-details-right .product-price {
    font-family: "ClassGarmnd BT", "Times New Roman", serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
    margin-left: auto;
    text-align: right;
}

.order-dropdown-details .order-totals-block {
    background-color: #fff;
    padding: 20px;
    width: 100%;
}

.order-totals-block .order-total-price-row.summary-row {
    border-bottom: 1px solid #d8d8d8;
    color: #1a1919;
    font-family: "ClassGarmnd BT", "Times New Roman", serif;
    font-size: 13px;
    line-height: 30px;
    margin-bottom: 27px;
    padding-bottom: 21px;
    text-transform: uppercase;
}

.order-totals-block .order-total-price-row {
    color: #865;
    display: flex;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 10px;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.order-totals-block .order-total-price-row .value {
    margin-left: auto;
}

.order-totals-block .total {
    border-top: 1px solid #453f3f;
    color: #1a1919;
    font-family: "ClassGarmnd BT", "Times New Roman", serif;
    font-size: 16px;
    line-height: 30px;
    margin: 33px 0 20px;
    padding-top: 30px;
}

.order-totals-block .txt--rit-dark {
    color: #453f3f;
    font-size: 12px;
}

@media (min-width: 768px) {
    .orders-container, .address-container {
        padding: 18px 35px 0 46px;
    }
    .account-right-content .order-block {
        margin-left: 46px;
        width: calc(100% - 46px);
    }
    .order-block-inner {
        padding: 26px 24px;
        cursor: pointer;
    }
    .order-block-inner .order-image {
        text-align: center;
        width: 100px;
    }
    .order-block .order-details {
        padding: 0 5px 0 36px;
        width: calc(100% - 144px);
    }
    .order-block .order-detail-number {
        margin-bottom: 17px;
    }
    .order-detail-price, .order-detail-size {
        display: inline-block;
        margin-right: 10px;
        position: relative;
        vertical-align: top;
    }
    .order-detail-status {
        display: inline-block;
        position: relative;
        vertical-align: top;
    }
    .order-detail-price::after, .order-detail-size::after {
        content: '|';
        margin-left: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .order-arrow span {
        right: -4px;
    }
    .order-dropdown-details {
        padding: 40px 60px 0 40px;
    }
    .order-dropdown-details .product-row:first-child {
        margin: 0;
    }
    .order-dropdown-details .product-row {
        padding: 25px 0 15px 15px;
        margin: 0 0 20px;
        width: 100%;
    }
    .product-row .product-image {
        width: 70px;
    }
    .product-row .order-details-right {
        padding: 10px 0 0 35px;
        width: calc(100% - 70px);
    }
    .order-details-right .product-title, .order-details-right .product-name, .order-details-right .product-variation {
        order: 1;
        width: calc(100% - 180px);
    }
    .order-details-right .product-amount {
        margin-left: auto;
        order: 2;
        text-align: center;
        width: 60px;
    }
    .order-details-right .product-price {
        margin-left: 0;
        order: 2;
        width: 90px;
    }
    .order-dropdown-details .order-totals-block {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        margin: 30px 0 0 -40px;
        padding: 40px 50px 30px;
        width: calc(100% + 100px);
    }
    .order-totals-block .order-total-price-row {
        max-width: 286px;
    }
    .order-totals-block .total {
        margin: 23px 0 20px;
    }
}