.header-main {
    width: 100%;
    background-color: black;
}

.header-top {
    background-color: #242222;
    padding-right: 20px;
}

.header-top ul {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    margin: 0px !important;
}

.header-top ul li {
    margin-left: 15px;
    line-height: normal;
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
}

.header-top ul li a {
    font-size: 9px;
    letter-spacing: 1.1px;
    color: white;
    line-height: 12px;
    text-decoration: none;
    padding-left: 17px;
}

.header-top ul li a:hover {
    color: white;
    cursor: pointer;
    text-decoration-line: underline;
}

.header-top ul li.blt-list::before {
    content: "";
    background-color: rgba(216, 216, 215, .3);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    display: inline-block;
}

/* Header Bottom */

.header-bottom {
    width: 100%;
    display: flex;
    height: 70px;
}

.header-bottom .lists-hb, .header-bottom .heading-hb, .header-bottom .right-hb {
    display: flex;
    flex: 1;
    align-items: center;
    background-color: #1a1919;
}

.lists-hb {
    justify-content: flex-start;
}

.heading-hb {
    justify-content: center;
}

.right-hb {
    justify-content: flex-end;
}

@media (max-width: 1024px) {
    .header-top {
        display: none;
    }
    .header-main {
        height: 60px;
    }
    .header-bottom {
        height: 60px;
    }
    .inut-rhbn input { 
        display: none !important;
    }
    .right-hb span {
        margin: 0px 3px !important;
    }
    .header-bottom .lists-hb, .header-bottom .heading-hb, .header-bottom .right-hb {
        width: auto;
        flex: none;
        padding: 3px;
    }
    .heading-hb {
        flex: 1 !important;
        justify-content: flex-start;
    }
}

/* My designs */

@media (max-width: 767px) {
    .header1 {
        height: 100%;
        background: #fff;
        position: fixed;
        top: 0;
        z-index: 1041;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.61s ease;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 767px) {
    .header1.headeractive {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

@media (max-width: 767px) {
    .header1 .navbar {
        padding: 0;
        width: 100%;
        display: block;
    }
}

.header1 nav ul.navbar-nav {
    display: inline-block;
    margin: 0;
    position: relative;
}

.header1 nav ul.navbar-nav.slideractive li a.active {
    color: white !important;
    border-bottom: 1px solid white;
}

.header1 nav ul.navbar-nav.menulinks>li.nav-item.active>a, .header1 nav ul.navbar-nav.slideractive>li.nav-item.active>a {
    color: white;
    border-bottom: 1px solid white;
}

.header1 nav ul.navbar-nav>li.nav-item {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 16px;
}

.header1 nav .navbar-nav .nav-item .nav-link {
    position: relative;
    display: inline-block;
    padding: 0px 15px;
    color: white !important;
    text-decoration: none;
    line-height: 34px;
    cursor: pointer;
    font-size: 17px;
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #fff;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.nav-link:hover:after {
    width: 80%;
    left: 10%;
    background: #fff;
}

.navbar-toggler {
    position: fixed;
    z-index: 1042;
    padding: 0;
    right: auto;
    top: auto;
    display: flex;
    align-self: center;
}

.btn.btn-black {
    background: #1C1C1C;
    color: #fff;
}

@media (max-width: 1199px) {
    .header1 nav ul.navbar-nav>li.nav-item {
        letter-spacing: 1px;
        margin: 0 6px;
    }
    .header1 nav ul.navbar-nav>li.nav-item>a.nav-link {
        font-size: 13px;
    }
}

@media (min-width: 1500px) {
    .header1 nav ul.navbar-nav>li.nav-item>a.nav-link {
        letter-spacing: 2px;
    }
}

@media (max-width: 767px) {
    .header1 nav ul.navbar-nav {
        display: block;
        margin: 0;
        text-align: center;
    }
    .header1 nav ul.navbar-nav.menulinks, .header1 nav ul.navbar-nav.slideractive {
        display: block;
        margin: 0;
        text-align: center;
        /* padding-top: 150px; */
        width: 100%;
    }
    .header1 nav ul.navbar-nav.menulinks>li.nav-item, .header1 nav ul.navbar-nav.slideractive>li.nav-item {
        display: block;
    }
    .header1 nav ul.navbar-nav.menulinks>li.nav-item>a.nav-link, .header1 nav ul.navbar-nav.slideractive>li.nav-item>a.nav-link {
        font-size: 1.35rem;
        color: black !important;
    }
}

/* right header */

.inut-rhbn {
    border-right: 1px solid gray;
    background-color: #1a1919;
    padding: 0px 10px;
    margin-right: 15px;
}

.search {
    width: 150px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #1a1919;
    border: none;
    margin: 0px 10px;
    padding: 5px 10px;
    color: white;
}

.search:focus {
    width: 200px;
}

.right-hb span {
    margin: 0px 15px;
}
